div {
    background-color: darkslategray;
    width: 90%;
    max-width: 400px;
    margin: 3px auto;  
    padding: 3px; 
    display: flex;
    align-items: flex-start; 
    border-radius: 10px;
}

h1 {
    font-weight: bold;
    background-color: darkslategray;
    color: goldenrod;
    padding: 15px; 
    font-family: fantasy;
    text-align: center;
    font-size: 24px; /
}

h2 {
    background-color: darkslategray;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

li {
    margin-bottom: 5px;
    padding-left: 10px;
    list-style: none;
}

.menu-item {
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 18px;
}

.description {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 14px;
}

.price {
    font-weight: bold;
    margin-right: 15px;
    font-size: 16px;
}

img.logo {
    width: 90%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
}

body {
    color: lightpink;
    text-align: center;
    font-family: Arial, sans-serif;
}

img.content {
    width: 100px;   
    height: 100px;
    margin-right: 15px; 
    border-radius: 10px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    flex: 1; 
}

.price-button-container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    margin-top: 5px;
}

.add-button {
    width: 50px;  
    padding: 8px; 
    background-color: goldenrod; 
    color: darkslategrey;  
    border-radius: 20px; 
    font-weight: bold;  
    text-align: center;  
    cursor: pointer;  
    border: none;
    font-size: 14px;
}

.add-button:hover {
    background-color: lightgray;
}